---
const colors = ["#264653", "#2A9D8F", "#E9C46A", "#F4A261", "#E76F51"];
const randomColor = colors[Math.floor(Math.random() * colors.length)];
---

<span class="imp rounded-xl h-fit px-2 py-1 text-xs">
  <slot />
</span>
