---
import EducationCard from "../Shared/Card.astro";
import htw from "../../assets/htw.png";
import tamk from "../../assets/tamk.png";
import { type CardProps } from "../Shared/Card.astro";
import Title from "../Shared/Title.astro";
import Section from "../Shared/Section.astro";

const educationItems: CardProps[] = [
  {
    logo: htw,
    name: "HTW Berlin",
    type: "B.Sc.",
    field: "International Media and Computer Science",
    location: "Berlin, Germany",
    date: "Apr 2020 - Feb 2024",
    description: "Specialization in Web Technology",
    thesis:
      "  'Development of a Navigation User Interface for Immersive Neuroimaging Systems'",
    tags: ["Full-Stack", "React", "Next.js", "Three.js", "Java", "SQL"],
  },
  {
    logo: tamk,
    name: " Tampere UAS",
    type: "Exchange Studies",
    field: " Software Engineering ",
    location: "Tampere, Finland",
    date: "Aug 2022 - Dec 2022",
    description:
      "Specialization in Software Engineering and User Experience Design",
    tags: ["AWS", "React", "React Native", "Flutter", "Lean Startup"],
  },
];
---

<Section title="Education">
  <div class="flex flex-col md:flex-row gap-5 justify-center items-center">
    {educationItems.map((item) => <EducationCard {...item} />)}
  </div>
</Section>
