---
import EducationCard from "./EducationCard.astro";
import htw from "../../assets/htw.png";
import tamk from "../../assets/tamk.png";
import { type EducationProps } from "./EducationCard.astro";
import Title from "../Shared/Title.astro";
import Section from "../Shared/Section.astro";

const educationItems: EducationProps[] = [
  {
    logo: htw,
    title: "HTW Berlin",
    type: "B.Sc.",
    field: "International Media and Computer Science",
    location: "Berlin, Germany",
    date: "Apr 2020 - Feb 2024",
    description: "Specialization in Web Technology - Full-Stack Development.",
    thesis:
      "  'Development of a Navigation User Interface for Immersive Neuroimaging Systems'.",
    tags: ["Full-Stack", "React", "Next.js", "Three.js", "Java", "SQL"],
  },
  {
    logo: tamk,
    title: "Tampere UAS",
    type: "Exchange Studies",
    field: " Software Engineering",
    location: "Tampere, Finland",
    date: "Aug 2022 - Dec 2022",
    description: "Specialization in  Cloud Computing and Mobile Development.",
    tags: ["AWS", "React", "React Native", "Flutter", "Lean Startup"],
  },
];
---

<Section title="Education">
  <div class="flex flex-col md:flex-row items-center justify-between">
    {educationItems.map((item) => <EducationCard {...item} />)}
  </div>
</Section>
