---
import Contact from "./Contact.astro";
---

<div
  class="flex w-full px-6 flex-wrap  justify-between mx-auto h-14 border-t items-center border-slate-800"
>
  <div>Mauro Risso</div>
  <Contact />
</div>
