---

---

<div class="flex items-center justify-center gap-2 text-white text-sm">
  <div class="p-1">
    <div class="relative flex h-3 w-3 justify-center items-center">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary opacity-90"
      ></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-primary"></span>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div>Open to work</div>
    <div class="text-xs text-white/70">Based in Berlin</div>
  </div>
</div>
