---
import Title from "./Title.astro";

type Props = {
  title: string;
  className?: string;
};

const { title, className } = Astro.props;
const id = title.toLowerCase().replace(/\s/g, "-");
---

<section class="flex flex-col justify-center items-center" id={id}>
  <Title>
    {title}
  </Title>
  <div class={className}>
    <slot />
  </div>
</section>
