@font-face{font-family:'pf00';src:url('/fonts/amfenthari.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf01';src:url('/fonts/anjanies.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf02';src:url('/fonts/antyna.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf03';src:url('/fonts/argine.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf04';src:url('/fonts/balleny_2.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf05';src:url('/fonts/barbie_someone.ttf') format('truetype');font-display:swap;}
@font-face{font-family:'pf06';src:url('/fonts/bebas_neue.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf07';src:url('/fonts/beyonest.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf08';src:url('/fonts/bigtimes.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf09';src:url('/fonts/bloksy.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf10';src:url('/fonts/coolvetica.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf11';src:url('/fonts/delicate_elegance.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf12';src:url('/fonts/emilone_ricta.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf13';src:url('/fonts/eternalo.ttf') format('truetype');font-display:swap;}
@font-face{font-family:'pf14';src:url('/fonts/festigan.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf15';src:url('/fonts/forest_realm.ttf') format('truetype');font-display:swap;}
@font-face{font-family:'pf16';src:url('/fonts/ghastly_panic.ttf') format('truetype');font-display:swap;}
@font-face{font-family:'pf17';src:url('/fonts/glendora.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf18';src:url('/fonts/gokart_bubble.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf19';src:url('/fonts/handflair.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf20';src:url('/fonts/khaviax.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf21';src:url('/fonts/lalline.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf22';src:url('/fonts/lemon_milk.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf23';src:url('/fonts/lumiare.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf24';src:url('/fonts/magic_yellow.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf25';src:url('/fonts/majesty_regilast.ttf') format('truetype');font-display:swap;}
@font-face{font-family:'pf26';src:url('/fonts/malam_poek.otf') format('opentype');font-display:swap;}
@font-face{font-family:'pf27';src:url('/fonts/matcha_cih.otf') format('opentype');font-display:swap;}
