---
import EducationSection from "@/components/Education/EducationSection.astro";
import Layout from "../layouts/Layout.astro";

import HeroSection from "@/components/Home/HeroSection.astro";
import Title from "@/components/Shared/Title.astro";
import ExperienceSection from "@/components/Experience/ExperienceSection.astro";
import Bento from "@/components/Bento/Bento.astro";
---

<Layout title="Mauro Risso">
  <div class="w-3/4 m-auto flex flex-col gap-10">
    <HeroSection />
    <ExperienceSection />
    <EducationSection />
  </div>
</Layout>
