---
import Layout from "../layouts/Layout.astro";

import HeroSection from "@/components/HeroSection.astro";
import EducationSection from "@/components/EducationSection.astro";
import MainSection from "@/components/Bento.astro";
---

<Layout title="Mauro Risso">
  <main class="w-4/6 m-auto flex flex-col gap-10">
    <HeroSection />
    <MainSection />
  </main>
</Layout>
