---
import EducationSection from "@/components/Education/EducationSection.astro";
import Layout from "../layouts/Layout.astro";

import HeroSection from "@/components/Home/HeroSection.astro";
import ExperienceSection from "@/components/Experience/ExperienceSection.astro";
import { Contact } from "lucide-react";
import ContactSection from "@/components/Contact/ContactSection.astro";
---

<Layout title="Mauro Risso">
  <div class="m-auto flex flex-col gap-14 mb-20 ">
    <HeroSection />
    <ExperienceSection />
    <EducationSection />
  </div>
</Layout>
