---
import Title from "../Shared/Title.astro";
---

<Title>Mauro Risso </Title>
<p class="text-3xl">
  Full-Stack Software Engineer based in Berlin, with a deep passion for SaaS and
  product innovation.
</p>
<p class="text-3xl">
  I have a strong background in web development, with a focus on building
  scalable and maintainable applications.
</p>
