---
import Title from "../Shared/Title.astro";
import Marquee from "./Marquee.astro";
---

<div class="mt-10 my-10 text-pretty">
  <p class="text-3xl">
    I am a Berlin-based Full-Stack Software Engineer with a focus on Frontend,
    startups, and SaaS products. I design scalable and maintainable web
    applications.
  </p>
  <p class="text-3xl mt-5">
    I am passionate about building products that solve real-world problems and
    help businesses grow.
  </p>
  <p class="text-3xl mt-5">
    I am always learning new technologies usually based on the javascript
    ecosystem. Like Astro , Next.js, React, Node.js, and many more.
  </p>

  <!-- <Marquee /> -->
</div>
