---
import Title from "../Shared/Title.astro";
import Contact from "../Shared/Contact.astro";
import Marquee from "./Marquee.astro";
import Section from "../Shared/Section.astro";
---

<div class="mt-10 my-10">
  <p class="text-2xl">
    I am a Full-Stack Software Engineer based in Berlin, specializing in
    frontend development with a strong interest in startups and SaaS products.
    My expertise lies in designing and developing unique web interfaces and
    products that solve real-world problems.
  </p>

  <p class="text-2xl my-5">
    With a strong passion for innovation, I continuously explore new
    technologies within the JavaScript ecosystem, including Next.js, TypeScript,
    Tailwind and Supabase, among others.
  </p>

  <Contact />
 
</div>
