---
import Title from "../Shared/Title.astro";
import Contact from "../Shared/Contact.astro";
import Marquee from "./Marquee.astro";
import Section from "../Shared/Section.astro";
---

<div class="md:mt-28 my-10 space-y-6">
  <p class="text-2xl leading-relaxed">
    I’m a Full-Stack Software Engineer based in Berlin, specializing in frontend
    development with a passion for startups and SaaS products.
  </p>

  <p class="text-2xl leading-relaxed">
    I have a strong interest in innovation and enjoy exploring new technologies
    within the JavaScript ecosystem, including Next.js, TypeScript, Tailwind,
    and Supabase.
  </p>

  <p class="text-2xl leading-relaxed">
    Currently working as a Full-Stack Developer at
    <a
      href="https://www.otto.de"
      class="hover:underline hover:underline-offset-4 decoration-primary transition-all duration-300"
    >
      Otto.de
    </a>. I previously worked as a Frontend Developer at
    <a
      href="https://www.nosto.com"
      class="hover:underline hover:underline-offset-4 decoration-primary transition-all duration-300"
    >
      Nosto
    </a>, as Software Engineer at the Volkswagen Group during my studies and
    collaborated with the Matters of Activity research cluster from Humboldt
    University for my thesis.
  </p>

  <Contact />
</div>
