---
import Title from "../Shared/Title.astro";
import Contact from "../Shared/Contact.astro";
import Marquee from "./Marquee.astro";
import Section from "../Shared/Section.astro";
---

<div class="md:mt-28 my-10">
  <p class="text-2xl">
    I’m a Full-Stack Software Engineer based in Berlin, specializing in frontend
    development with a passion for startups and SaaS products.
  </p>

  <p class="text-2xl my-5">
    I have a strong interest in innovation and enjoy exploring new technologies
    within the JavaScript ecosystem, including Next.js, TypeScript, Tailwind,
    and Supabase.
  </p>

  <p class="text-2xl my-5">
    Currently, I’m working as a Full-Stack Developer at <a
      href="https://www.otto.de"
      class="hover:underline hover:underline-offset-4 decoration-primary transition-all duration-300"
    >
      Otto.de</a
    > , and I’m always eager to take on new projects, particularly in the SaaS, startup,
    and AI spaces.
  </p>

  <Contact />
</div>
