<div class="relative flex overflow-x-hidden bg-background text-primary">
  <div class="py-4 animate-marquee whitespace-nowrap">
    <span class="mx-4 text-2xl">Open to work</span>
    <span class="mx-4 text-xl">React</span>
    <span class="mx-4 text-xl">Berlin</span>
    <span class="mx-4 text-xl">Sass</span>
    <span class="mx-4 text-xl">TypeScript</span>
    <span class="mx-4 text-xl">TypeScript</span>
  </div>

  <div class="absolute top-0 py-4 animate-marquee2 whitespace-nowrap">
    <span class="mx-4 text-2xl">Open to work</span>
    <span class="mx-4 text-xl">React</span>
    <span class="mx-4 text-xl">Berlin</span>
    <span class="mx-4 text-xl">Sass</span>
    <span class="mx-4 text-xl">TypeScript</span>

    <span class="mx-4 text-xl">TypeScript</span>
  </div>
</div>
