---
type Props = {
  title: string;
  link: string;
  class: string;
};

const { title, link, class: className } = Astro.props;
---

<a
  class:list={["child-component", className]}
  class="bg-foreground rounded-xl p-6 flex gap-2 justify-center align-middle hover:bg-primary/50 transition-colors duration-200 ease-in-out"
  href={link}
>
  <h2 class="h-fit">{title}</h2>
</a>
