---
import Navbar from "@/components/Shared/Navbar.astro";
import "@fontsource-variable/bricolage-grotesque";
import { SEO } from "astro-seo";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="bg-background">
  <head>
    <SEO
      title="Mauro Risso  - Software Engineer based in Berlin"
      description="Explore the personal portfolio of Mauro Risso, a Berlin-based Software Engineer specializing in Fullstack Development. With expertise in React and Next.js, Mauro is dedicated to creating user-friendly and accessible digital products. Discover projects, skills, and experience in software engineering, and get in touch for collaboration opportunities."
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Mauro Risso</title>
  </head>
  <body class="text-white h-screen bg-background">
    <Navbar />
    <div class="w-9/12 m-auto flex flex-col gap-20">
      <slot />
    </div>

    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      ::selection {
        color: #96cd79;
        background: #23262f;
      }
      .imp {
        color: #96cd79;
        /* background: #23262f; */
      }
      html {
        background: #13151a;
        background-size: 224px;
      }
      html {
        font-family: "Bricolage Grotesque Variable", sans-serif;
        scroll-behavior: smooth;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
