---
import EducationSection from "@/components/Education/EducationSection.astro";
import Title from "@/components/Shared/Title.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Title> Education </Title>
  <!-- Education Section -->
  <EducationSection />
</Layout>
